.outer, .pagination {
    margin: 0 20px;
}

.wrapper {
    margin: 20px 0;
}

.postsWrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.searchWrapper {
    margin: 0 20px;
}

.searchWrapper > input {
    display: block;
    margin: 0 auto 20px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.35em 0.6em;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 50px;
    max-width: 300px;
    width: 100%;
    height: 50px;
    transition: max-width 0.3s ease-in-out;
}

.searchWrapper > input:focus-visible {
    max-width: 100%;
}

.notFound {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.pagination {
    margin-top: 20px;
}