.outer, .pagination {
    margin: 0 20px;
}

.wrapper {
    margin: 20px 0;
    max-width: 600px;
    width: 600px;
}

.searchWrapper {
    margin-left: 20px;
}

.searchWrapper > input {
    display: block;
    margin: 0 auto 20px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.35em 0.6em;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 20px;
}

.notFound {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.pagination {
    margin-top: 20px;
}