.outer {
    margin: 20px auto;
    max-width: 600px;
    width: 100%;
}

.wrapper {
    margin: 0 20px;
}

.wrapper > h1 {
    text-align: center;
    font-size: 43px;
    font-weight: bold;
}

.profileCard {
    max-width: 600px;
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 0 20px 1px;
}

.nameWrapper > h2, .profileCard > h2 {
    font-size: 30px;
    text-align: left;
}

.editName > img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.editName:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.editName {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.nameWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}