.outer {
    border-radius: 10px;
    padding: 10px 5px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.outer > p {
    margin: 0;
}

.outer:hover {
    background-color: rgba(0, 0, 0, 0.1);
}