.outer {
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.outer > p {
    margin: 0;
}

.outer:hover {
    background-color: rgba(0, 0, 0, 0.1);
}