.outer {
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.user {
    margin: 0 0 20px 0;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.comm {
    margin: 0;
}